In [2]:
import pandas as pd

# To data.py

## Loading data

In [3]:
# Loading data
csv_file = '../raw_data/air_pollution_data.csv'
df = pd.read_csv(csv_file)

df.head(5)

,who_region,iso3,country_name,city,year,version,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,type_of_stations,reference,web_link,population,population_source,latitude,longitude,who_ms
0,4_Eur,ESP,Spain,A Coruna/ESP,2013.0,"V4.0 (2018), V4.0 (2018), V4.0 (2018), V4.0 (2...",23.238,11.491,28.841,87.0,46.0,93.0,"Urban, Urban, Suburban",NaN,NaN,246146.0,"manual, manual, manual, manual",43.367900,-8.418571,1
1,4_Eur,ESP,Spain,A Coruna/ESP,2014.0,"V6.0 (2023), V6.0 (2023), V6.0 (2023)",27.476,15.878,19.575,96.0,88.0,95.0,"Urban, Urban, Suburban",NaN,NaN,247604.0,NaN,43.368033,-8.418233,1
2,4_Eur,ESP,Spain,A Coruna/ESP,2015.0,"V6.0 (2023), V6.0 (2023), V6.0 (2023), V6.0...",25.515,14.004,22.731,98.0,71.0,98.0,"Urban, Urban, Suburban, Suburban",NaN,NaN,247604.0,NaN,43.370375,-8.422900,1
3,4_Eur,ESP,Spain,A Coruna/ESP,2016.0,"V6.0 (2023), V6.0 (2023), V6.0 (2023), V6.0...",23.057,13.160,20.204,98.0,98.0,98.0,"Urban, Urban, Suburban, Suburban",NaN,NaN,247604.0,NaN,43.370375,-8.422900,1
4,4_Eur,ESP,Spain,A Coruna/ESP,2017.0,"V6.0 (2023), V6.0 (2023), V6.0 (2023), V6.0...",26.849,14.114,21.543,97.0,97.0,98.0,"Urban, Urban, Suburban, Suburban",NaN,NaN,247604.0,NaN,43.370375,-8.422900,1

## Missing values

In [4]:
# Checking NaNs and types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40098 entries, 0 to 40097
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   who_region          40098 non-null  object
 1   iso3                40098 non-null  object
 2   country_name        40098 non-null  object
 3   city                40098 non-null  object
 4   year                40095 non-null  float64
 5   version             40098 non-null  object
 6   pm10_concentration  28672 non-null  float64
 7   pm25_concentration  21730 non-null  float64
 8   no2_concentration   26934 non-null  float64
 9   pm10_tempcov        22403 non-null  float64
 10  pm25_tempcov        16590 non-null  float64
 11  no2_tempcov         23402 non-null  float64
 12  type_of_stations    23331 non-null  object
 13  reference           6652 non-null   object
 14  web_link            1790 non-null   object
 15  population          22433 non-null  float64
 16  population_source   18102 non-null  object
 17  latitude            40098 non-null  float64
 18  longitude           40098 non-null  float64
 19  who_ms              40098 non-null  int64
dtypes: float64(10), int64(1), object(9)
memory usage: 6.1+ MB

In [5]:
# % on NaN per feature
(df.isnull().sum() /len(df) *100).sort_values(ascending=False).round(2)

web_link              95.54
reference             83.41
pm25_tempcov          58.63
population_source     54.86
pm25_concentration    45.81
pm10_tempcov          44.13
population            44.05
type_of_stations      41.82
no2_tempcov           41.64
no2_concentration     32.83
pm10_concentration    28.50
year                   0.01
longitude              0.00
latitude               0.00
who_region             0.00
iso3                   0.00
version                0.00
city                   0.00
country_name           0.00
who_ms                 0.00
dtype: float64

In [6]:
#Features to delete: web_link, reference,  iso3, who_ms, population_source, version, pm10_tempcov, pm25_tempcov, no2_tempcov
df.drop(columns=['web_link', 'reference', 'iso3', 'who_ms', 'population_source', 'version', 'pm10_tempcov', 'pm25_tempcov', 'no2_tempcov'],inplace=True)

In [7]:
# Checking types and NaNs of the features we kept
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40098 entries, 0 to 40097
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   who_region          40098 non-null  object
 1   country_name        40098 non-null  object
 2   city                40098 non-null  object
 3   year                40095 non-null  float64
 4   pm10_concentration  28672 non-null  float64
 5   pm25_concentration  21730 non-null  float64
 6   no2_concentration   26934 non-null  float64
 7   type_of_stations    23331 non-null  object
 8   population          22433 non-null  float64
 9   latitude            40098 non-null  float64
 10  longitude           40098 non-null  float64
dtypes: float64(7), object(4)
memory usage: 3.4+ MB

In [8]:
# % on NaN per feature kept
(df.isnull().sum() /len(df) *100).sort_values(ascending=False).round(2)

pm25_concentration    45.81
population            44.05
type_of_stations      41.82
no2_concentration     32.83
pm10_concentration    28.50
year                   0.01
who_region             0.00
country_name           0.00
city                   0.00
latitude               0.00
longitude              0.00
dtype: float64

In [9]:
# Checking duplicates
df.duplicated().sum()

0

In [10]:
#Number of unique values in 'year', 3 NA
df['year'].value_counts(dropna=False)

year
2018.0    4678
2019.0    4594
2016.0    4131
2015.0    4096
2020.0    3983
2013.0    3869
2017.0    3820
2014.0    3460
2010.0    2878
2021.0    2654
2012.0     971
2011.0     802
2022.0     159
NaN          3
Name: count, dtype: int64

In [11]:
#Dropping rows where 'year' = NA
df.dropna(subset=['year'], inplace=True)

In [12]:
# Checking if there is any NA in 'year'
df['year'].value_counts(dropna=False)

year
2018.0    4678
2019.0    4594
2016.0    4131
2015.0    4096
2020.0    3983
2013.0    3869
2017.0    3820
2014.0    3460
2010.0    2878
2021.0    2654
2012.0     971
2011.0     802
2022.0     159
Name: count, dtype: int64

In [13]:
# Shape after removing rows with 'year' = NA
df.shape

(40095, 11)

In [14]:
# Dropping rows where 'pm10_concentration' AND 'pm25_concentration'AND 'no2_concentration' are NA
df.dropna(how='all', subset=['pm10_concentration', 'pm25_concentration', 'no2_concentration'], inplace=True)

#Checking shape after dropping rows where 'pm10_concentration' AND 'pm25_concentration'AND 'no2_concentration' are NA
df.shape

(40002, 11)

In [15]:
# Checking NaNs
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40002 entries, 0 to 40097
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   who_region          40002 non-null  object
 1   country_name        40002 non-null  object
 2   city                40002 non-null  object
 3   year                40002 non-null  float64
 4   pm10_concentration  28672 non-null  float64
 5   pm25_concentration  21729 non-null  float64
 6   no2_concentration   26934 non-null  float64
 7   type_of_stations    23307 non-null  object
 8   population          22365 non-null  float64
 9   latitude            40002 non-null  float64
 10  longitude           40002 non-null  float64
dtypes: float64(7), object(4)
memory usage: 3.7+ MB

## Outliers

In [ ]:
df.boxplot()

## Target balance (classification only!)

In [ ]:
df.head()

In [ ]:
df.target.value_counts() / len(df)

# To preprocess.py

In [ ]:
# Handling missing data
# Handling outliers
# Encoding
# Scaling
# Feature engineering.

## Drop too complex features for now...

In [ ]:
df.drop(columns=['Ticket','Name'], inplace=True)

## Missing data

In [ ]:
df.isnull().sum()

In [ ]:
df.head()

### Cabin

drop for now, too much engineering...

In [ ]:
df.drop(columns=['Cabin'], inplace=True)

df.head()

### Age

In [ ]:
df.isnull().sum() / len(df)

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer

age_imputer = KNNImputer(n_neighbors=5)

age_imputer.fit(df[['Age']])

In [ ]:
df['Age'] = age_imputer.transform(df[['Age']])

df.head()

In [ ]:
df['Age'].isnull().sum()

### Embarked

In [ ]:
df['Embarked'].isnull().sum()

In [ ]:
df.Embarked.value_counts()

In [ ]:
import numpy as np

df['Embarked'] = df['Embarked'].replace(np.nan, 'U')

df.Embarked.value_counts()

In [ ]:
df.isnull().sum()

## Encode

In [ ]:
df.head()

In [ ]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse=False, drop='if_binary')

encoder.fit(df[['Sex','Embarked']])

encoder.transform(df[['Sex','Embarked']])

In [ ]:
encoder.get_feature_names_out()

In [ ]:
list(encoder.get_feature_names_out())

In [ ]:
df[list(encoder.get_feature_names_out())] = encoder.transform(df[['Sex','Embarked']])

df.drop(columns=['Sex','Embarked'], inplace=True)

df.head()

### Scale

In [ ]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

scaler.fit(df.drop(columns=['Survived']))

df[list(df.drop(columns=['Survived']).columns)] = scaler.transform(df.drop(columns=['Survived']))

df.head()

## Modelling

## Split!

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['Survived']),
                                                df['Survived'])

In [ ]:
len(X_train)

## Baseline LogisticRegression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_validate

model = LogisticRegression()

cv_results = cross_validate(
    model,
    X_train,
    y_train,
    cv=10
)

cv_results['test_score'].mean()

## Baseline SVM

In [ ]:
from sklearn.svm import SVC

model = SVC()

cv_results = cross_validate(
    model,
    X_train,
    y_train,
    cv=10
)

cv_results['test_score'].mean()

## Fine tune SVM

In [ ]:
from scipy import stats
from sklearn.model_selection import RandomizedSearchCV

# Instanciate model
svc_model = SVC()

# Hyperparameter Grid
grid = {'C': stats.uniform(0.01,10),
        'gamma':stats.uniform(0.01,10),
        'coef0':stats.uniform(0.01,10),
        'kernel': ['poly','rbf','linear','sigmoid'],
        'degree':stats.randint(1,5),
        'class_weight':['balanced', None]}

# Instanciate Grid Search
search = RandomizedSearchCV(svc_model,
                            grid,
                            scoring='accuracy',
                            n_iter=10,  # number of draws
                            cv=3,
                            n_jobs=-1,
                            verbose=2)

# Fit data to Grid Search
search.fit(X_train, y_train)

In [ ]:
search.best_params_

In [ ]:
search.best_score_

In [ ]:
search.best_estimator_

In [ ]:
best_model = search.best_estimator_

In [ ]:
best_model

# Final check!

In [ ]:
best_model.score(X_test,y_test)